/* Reset default styles */
body,
h1,
p,
label {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #3498db, #2ecc71);
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 18px;
}

.container {
    background-color: rgba(224, 224, 224, 0.9);
    /* Use a darker gray (#e0e0e0) instead of white */
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    background-image: linear-gradient(135deg, #5f27cd, #8e44ad);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.file-upload-label:hover {
    background-image: linear-gradient(135deg, #8e44ad, #5f27cd);
}

.file-upload-label span {
    font-size: 18px;
    color: #fff;
}

.file-upload-label i {
    font-size: 24px;
    margin-right: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    /* Gradient background for the button */
    background-image: linear-gradient(135deg, #a55eea, #ff7675);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    /* Gradient background for the button on hover */
    background-image: linear-gradient(135deg, #ff7675, #a55eea);
}

.result-container {
    margin-top: 40px;
    text-align: center;
    /* Gradient background for the result section */
    background-image: linear-gradient(135deg, #f1f1f1, #e4e4e4);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Gradient color for the h2 heading */
.result-container h2 {
    background-image: linear-gradient(135deg, #5f27cd, #8e44ad);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.result-box {
    background-color: #f7f7f7;
}

.result-label {
    color: #5f27cd;
}

.result-value {
    color: #333;
}

.result-image {
    margin-top: 20px;
}

.result-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup {
    display: none;
    position: fixed;
    top: 20px;
    /* Adjust the distance from the top as desired */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #f05454;
    /* Set the desired background color for the notification */
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
